*
{
	margin: 0em;
	padding: 0em;
}

a
{
	color: blue;
  text-decoration: underline; 
  font-weight: bold;
}

a:hover
{
	text-decoration: none;
}

body
{
	background-color: #F0E3A4;
	background-image: url('images/a4.gif');
	background-repeat: repeat-x;
	color: #37371E;
	font-family: georgia, serif;
	font-size: 10pt;
}

#outer
{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.0em;
	background-color: #FEFEF2;	
	background-image: url('images/a3.gif');
	background-repeat: repeat-x;
	padding: 1.0em;
	border-top: solid 1px #ffffff;
	margin-bottom: 1.0em;
}

#outer2
{
	border: dotted 1px #EFEAD1;
//	padding: 1.0em;
}

#menu
{
	background-color: #6C7424;
	background-image: url('images/a1.gif');
	background-repeat: repeat-x;
	color: #ffffff;
	height: 1.4em;
	line-height: 1.4em;
	padding: 0.8em;
	border-bottom: solid 1px #ffffff;
	border-top: solid 1px #6D7B34;
}


#map
{
width:400px;
height:400px;
background:yellow;
}

#menu a
{
	color: #ffffff;
	text-decoration: none;
}

#letne a
{
	color: red;
}

#poznavacie a
{
	color: blue;
}

#menu ul
{
	list-style: none;
	padding: 0em;
}

#menu li
{
	display: inline;
	font-size: 0.9em;
	font-weight: bold;
}

#menu li a
{
	padding: 0.8em;
}

#menu li a:hover
{
	background-color: #515815;
	background-image: url('images/a2.gif');
	background-repeat: repeat-x;
}

#header
{
	padding: 0.0em 1.2em 1.2em 1.2em;
}

#header h1
{
	font-size: 3.0em;
	text-transform: lowercase;
	font-weight: normal;
	letter-spacing: -0.05em;
}

#header h2
{
	position: relative;
	top: -0.1em;
	text-transform: lowercase;
	font-size: 0.8em;
	color: #4F4F2B;
}

#content
{
	margin-top: 1.0em;
	padding: 1.2em;
	line-height: 2.2em;
	font-size: 0.9em;
	position: relative;
}

#footer
{
	border-top: dashed 1px #EFEFD6;
	padding-top: 1.0em;
	font-size: 1.0em;
	color: #AFA162;
	padding-left: 1.2em;
	clear: both;
}

#column1
{
	width: 530px;
	float: left;
	position: relative;
}

#column-termin
{  width: 530px;
	float: left;
	position: relative;
}


#column-destinacia
{
	width: 530px;
	float: right;
	position: relative;
}

#column1 p
{
	text-align: justify;
	margin-bottom: 2.0em;
	color: #4F4F2B;
}

#column1 h3
{
	font-size: 1.2em;
	border-bottom: dashed 1px #CECF8F;
	margin-bottom: 1.0em;
}

#column2
{
	width: 145px;
	float: right;
	position: relative;
	margin-left: auto;
}

#column2 p
{
	text-align: justify;
	margin-bottom: 2.0em;
	color: #4F4F2B;
	font-size: 1.0em;
}

#column2 h3
{
	font-size: 1.1em;
	border-bottom: dashed 1px #CECF8F;
	margin-bottom: 1.0em;
}

#column2 ul
{
	list-style: none;
	line-height: 2.0em;
	margin-bottom: 2.0em;
}

#column2 li
{
	border-bottom: dashed 1px #EFEFD6;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}